APP_ENV=dev
PORT=3000

COOKIE_SECRET=change-me-to-a-random-string

SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=superadmin

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=wisko_vendure
DB_USERNAME=postgres
DB_PASSWORD=
DB_SCHEMA=public

# RabbitMQ (for ERP sync)
RABBITMQ_URL=amqp://admin:admin@4.240.93.82:5672

VENDURE_DISABLE_TELEMETRY=true
